[Unit]
Description=An example webservice running in systemd
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=chrisguest
ExecStart=/usr/bin/env bash -c "/home/chrisguest/Code/shell_examples/22_systemd_service/webservice.sh 8081 'Hello from systemd'"

[Install]
WantedBy=multi-user.target